.split-pane {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.split-pane-element0 {
    height: 20%;
}

.split-pane-element1 {
    flex: 1;
}

.separator {
    border: calc(var(--border-width) / 2) solid var(--custom-accent-color);
}
