/* TODO: Get fonts to work with webpack */
/*@font-face {*/
/*  font-family: 'JetBrainsMono';*/
/*  src: local('JetBrainsMono'), url("src/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format('woff2');*/
/*}*/

html, body, #root, .App {
  touch-action: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
